<h2>Template: <small>Dinamico</small></h2>

<form (ngSubmit)="handleSave()" autocomplete="off" #myFormDinamico="ngForm">
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input
        class="form-control"
        placeholder="Nombre de la persona"
        [ngModel]="persona.nombre"
        name="name"
        type="text"
        required
      />
      <span class="form-text text-danger" *ngIf="handleInputValidate()"
        >Este campo es obligatorio</span
      >
    </div>
  </div>

  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input class="form-control" placeholder="Agregar favorito" [(ngModel)]="newGame" name="newGame" (keyup.enter)="handleAddNewGame()"/>
        <button type="button" class="btn btn-outline-primary" (click)="handleAddNewGame()">Agregar</button>
      </div>
    </div>
  </div>

  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Favoritos</label>
    <div class="col-sm-9">
      <div
        class="input-group mb-1"
        *ngFor="let juego of persona.favoritos; let i = index"
      >
        <input
          [(ngModel)]="juego.nombre"
          name="favorito_{{ i }}"
          class="form-control"
          required
        />
        <button type="button" class="btn btn-outline-danger" (click)="handleRemoved(i)">Eliminar</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button
        class="btn btn-primary float-end"
        type="submit"
        (click)="handleSave()"
        [disabled]="myFormDinamico.invalid"
      >
        Guardar
      </button>
    </div>
  </div>
</form>

<span>Perosna</span>
<pre>{{ persona | json }}</pre>
